body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightpink;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.topnav {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    padding: 1rem 1rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnav .timer {
    font-size: 1.125rem;
    padding-left: 2rem;
}

.topnav .buttons {
    display: flex;
    gap: 1rem;
    padding-right: 2rem;
}

.topnav button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
}

.topnav #submit {
    background-color: pink;
}

.topnav #submit:hover {
    background-color: palevioletred;
}

.topnav #reset {
    background-color: darkgray;
}

.topnav #reset:hover {
    background-color: gray;
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 70vw;
    width: 80%;
    margin-top: 2rem;
}

h1 {
    text-align: center;
    padding-bottom: 2rem;
}

.correct {
    background-color: lightgreen;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.incorrect {
    background-color: lightcoral;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.answer {
    padding: 1rem;
    display: block;
}

h2 {
    padding-top: 2rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.matching select {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.matching {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr)); /* Adjust width as needed */
    gap: 2rem;
    padding-top: 2rem;
}

.match-item {
    display: flex;
    flex-direction: column; /* Keeps label and select stacked */
    align-items: center; /* Centers them */
}

select {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}